# Site settings
title: Santa Greg of the Marshwalk
description: 
theme: minima
author: DJC
url: ""
baseurl: ""

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
